server:
  port: 8888
spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: authentication
          uri: lb:http://AUTHENTICATION
          predicates:
            - Path=/api/v1/auth/**
        - id: subscription
          uri: lb:http://SUBSCRIPTION
          predicates:
            - Path=/api/v1/subscriptions/**

application:
  security:
    jwt:
      secret-key: 3A3819FB8D35506C579DB26CC2B33952550D02BE99FBF626D8F9C4E8E934F1A3